*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
   
    
}

.container{
    display: flex;
    align-items: center;
}
.weather-input{
    width: 25%;
    position: fixed;
    inset: 0;
    background: rgb(134, 176, 200);
    padding: 1rem 2.5rem;
}
.input-group{
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.input-group input{
    background-color: aliceblue;
    text-transform: uppercase;
    padding: 1rem;
    border-radius:6px;
    width: 100%;
    outline: none;
    border: none;
}
.input-group .converter{
    position: absolute;
    right:45px;
    border:none;
    cursor: pointer;
    outline:none;
    font-size: 16px;
}
.input-group .fa-search{
    position: absolute;
    right: 13px;
    color: rgb(34, 64, 89);
    cursor: pointer;
    font-size: 22px;
    
}